.shop-list-widget-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.shop-list-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border: solid var(--text-light) 3px;
	border-radius: 10px;
	padding: 20px;
}

.shop-list-container > button {
	width: 325px;
	margin: 10px;
}

.shop-list {
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
