.field{
    width: 100%;
    height: calc(100%);
    display: flex;
    margin: 0;
    box-sizing: border-box;
    background: var(--field-value);
    color: var(--text-dark);
}

.field > input{

    margin-right:13px;
    padding-left: 25px;
    padding-right: 20px;
    width: fit-content;
    min-width: calc(100% - 60px);
    font-size:medium;

}

