.field{
    width: 100%;
    height: 66px;
    display: flex;
    margin: 0;
    background: var(--field-value);
    color: var(--text-dark);
    border-bottom: solid var(--text-dark) 1px;
}

.field > input{
    margin-right: 50px;
    padding-left: 25px;
    padding-right: 20px;
    min-width: -webkit-fill-available;

}

