p{
    word-break:break-all;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: var(--a);
    text-decoration: none;
}
a:hover{
    color: var(--a-hover);
}
a:active{
    color: var(--a-active);
}

main {
    margin-top: 100px;
}

button {
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: var(--main);
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    margin: 5px;
    transition: 200ms;
}

button:hover{
    background: var(--main-hover);
}
button:active{
    background: var(--main-active);
}

input{
    padding: 20px 0 20px 20px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    width: calc(100% - 20px);
    margin: 5px;
    font-family: 'Mulish';
    color: var(--text-dark);
}
input::placeholder{
    color: var(--text-dark);
}

select{
    border-radius: 15px;
    padding: 20px 150px 20px 25px;
    width: 100%;
    margin: 5px;
    min-width: 60px;
}
option{
    border-radius: 15px;
    padding: 20px 150px 20px 25px;
}
option:disabled{
    color: var(--text-dark);
}

.checkbox-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.label-container{
    margin: 5px;
    font-weight: bold;
    padding: 0;
}

input[type="checkbox"]{
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 5px;
    padding: 10px;
    appearance: none;
    background: var(--bg);
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    transition: 200ms;
}

input[type="checkbox"]:checked{
    background-color: var(--main);
    overflow: hidden;
}

input[type="checkbox"]:hover{
    background-color: var(--main-active);
    overflow: hidden;
}

.modal-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background: var(--bg-transparent);
}

.modal{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    border: solid var(--text-light) 3px;
    border-radius: 10px;
    padding: 40px;
    background: var(--bg);
    min-width:300px;
}

.hollow-button{
    padding: 20px;
    font-weight: bold;
    border: solid var(--main) 3px;
    border-radius: 10px;
    background: var(--bg);
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    margin: 5px;
    transition: 200ms;
}

.hollow-button:hover{
    background: var(--main);
}

.hollow-button:active{
    background: var(--main-active);
}

.table-header-grey{
    background: var(--table-header-grey);
    width: 100% - 40px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 20px 0px 0px;

}

.value-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 600;
    min-width: 100px;
}
.value-container > select {
    margin: -20px;
    padding-right: 0px;
    padding-left: 10px;
    margin-right: 15px;
}

.setting-container{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.setting-container > p{
    width: 50%;
    font-size: small;
    font-weight: bold;
    background: var(--field-label);
    color: var(--text-dark);
    padding: 25px 20px 25px 30px;
    margin: 0px;
    border-bottom: solid var(--text-dark) 1px;
}

.setting-container > div {
    width: 50%;
    
}

textarea{
    border: none;
    overflow: hidden;
    resize:none;
    width: 200px;
    padding-left: 10px;
    font-weight: 600;
    font-family: 'Mulish';
    color: var(--text-dark);
}
.pop-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg);
    border: solid var(--text-light) 3px;
    padding: 0px 30px 20px 30px;
    border-radius: 15px;
    z-index: 99;
}