@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	--main: #b51d4d;
	--main-hover: #d46288;
	--main-active: #d4819c;
	--bg: #191919;
	--bg-transparent: #191919d3;
	--a: white;
	--a-hover: #acacac;
	--a-active: grey;
	--text-light: #ffffff;
	--text-dark: #828282;
	--table-header-grey: #828282;
	--table-header-pink: #d4819c;
	--table-corner: #e0e0e0;
	--field-label: #f2f2f2;
	--field-value: #fbfbfb;
}
* {
	-webkit-user-select: none;
	user-select: none;
}

main {
	height: fit-content;
}

body {
	background: var(--bg);
	font-family: "Mulish", "Roboto", Courier, monospace;
	color: var(--text-light);
	/* overflow: hidden; */
}
